<body>
    <main>
        <form action="" class="formulario">
            <h1 class="formulario__titulo">PRODUCTO</h1>
            <input type="text" class="formulario__input" id="nombre">
            <label for="" class="formulario__label">Nombre</label>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ITEM</th>
                        <th scope="col">CANT</th>
                        <th scope="col">PRODUCTO</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">IMPORTE</th>
                    </tr>
                </thead>
            </table>
        </form>
    </main>
</body>